/* You can add global styles to this file, and also import other style files */

// All color vars here
$secondary-1: #191444;

.typography-md-bold{
    color: var(--secondary-1, #191444);
    font-family: Source Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.typography-md{
    color: var(--secondary-1, #191444);
    font-family: Source Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}